body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d8d7d3;
}
.info {
    margin-bottom: 10px;
}

h2 {
    color: #333;
}

img{
    border-radius: 100%;
    object-fit: cover;
}


p {
    font-weight: bold;
}
